fastapi
uvicorn[standard]
pymongo[srv]
passlib[bcrypt]
httpx
jinja2
pillow
qrcode
pytesseract
python-dateutil>=2.8.2
aiosmtplib
python-multipart
requests
jose
openai
asyncio
Markdown
markdown2
pydantic
django-qrcode
Unidecode
python-dotenv
python-jose
cryptography
itsdangerous