body {
            font-family: "Manrope", sans-serif;
            margin: 0;
            padding: 0;
            background-color: #ecebeb;
            background-image: url('/static/img/footage/background3.jpg');
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;

        }

        .container {
            display: grid;
            grid-template-columns: 1fr 2fr;
            grid-gap: 50px;
            width: 90vw;
            max-width: 1200px;
        }
        .sidebar {
            /*background-color: #ecebeb;*/
            /*opacity: 0.7;*/
            padding: 20px;
            border-radius: 4px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: left;
        }
        .logo {
            width: 100px;
            height: 100px;
            /*background: #b3dcdc;*/
            background-image: url('/static/img/logo/27.svg');
            background-size: contain;
            background-repeat: no-repeat;
            margin-bottom: 40px;
        }
        .links a {
            text-align: left;
            font-size: 0.8em;
            display: block;
            color: rgba(44, 44, 44, 0.62);
            text-decoration: none;
            margin-top: 20px;
        }

        .links a:hover {
            color: rgb(44, 44, 44);
        }

        .links a:focus {
           color: #171717;
        }

        .link-row {
            display: flex;           /* горизонтально */
            flex-direction: row;
            flex-grow: 1;
            gap: 1rem;
            justify-content: space-between; /* расстояние между ссылками */
            margin-top: 2rem;
            margin-bottom: 10px;
            padding: 1rem;
            width: 100%;
            text-align: left;
            }

        .links-row a {
            text-align: left;
            font-size: 0.8em;
            color: rgba(44, 44, 44, 0.62);
            text-decoration: none;
        }

        .links-row a:hover {
            color: rgb(44, 44, 44);
            font-weight: bold;
        }

        .links-row a:focus {
            color: #171717;
            font-weight: bold;
        }


        .grid {
            margin-top: auto;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 30px;
            align-items: center;
            justify-content: center;

        }
        .grid a {
            text-decoration: none;
            color: rgb(23, 23, 23);
        }
        .grid a:visited {
            text-decoration: none;
        }
        .card {
            max-width: 250px;
            height: 310px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: #f4f4f4;
            padding: 1rem;
            border-radius: 10px;
            text-align: left;
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
            text-decoration: none;
        }

        .card img {
            width: 60px;
            height: 60px;
            border-radius: 50%;
            }

        .card h3 {
            text-align: left;
        }

        .card-price {
            font-size: 1.1em;
            font-weight: 600;
        }

        .card-small {
            margin: 10px 0;
            display: block;
            font-size: 0.7em;
            font-weight: 600;
            /*color: #ff5757;*/
        }
        .card-medium {
            display: block;
            font-size: 0.8em;
            padding: 1rem;
        }

        .card:hover {
            background-color: #ffffff;
            box-shadow: 0 0 2rem rgba(0, 0, 0, 0.4);
            transition: all 0.3s ease-in-out;
        }

        .card:active {
            border: 2px darkcyan solid;
        }

        .card.active {
            border: 1px solid darkcyan;
            background-color: lightcyan; /* Светлый оттенок для выделения */
            box-shadow: 0 0 2rem rgba(32, 178, 170, 0.8);
            /*font-weight: bolder;*/
         }
        .card:first-child {
            margin-top: 0;
        }
        .card:last-child {
            margin-bottom: 0;
        }

        .right-side {
            position: relative;
        }

        .form_button{
    display: flex;
    align-items: center; /* Выравнивание по вертикали */
    justify-content: center; /* Центрирование содержимого */
    gap: 10px; /* Расстояние между иконкой и текстом */
    padding: 10px 20px;
    width: 80%;
    background-color: lightcyan;
    margin: 1rem auto 1rem;
    border-radius: 10px;
    height: 45px;
    border: none;
    cursor: pointer;
}

        .form_button:hover {
      color: #000000;
      border-radius: 10px;
      background: cyan;
      opacity: 0.7;
}


        @media (max-width: 1024px) {
            .container {
                grid-template-columns: 1fr;
                gap: 10px;
            }

            .grid {
                grid-template-columns: repeat(2, 1fr);
                margin-top: 20px;
              }

            .card {
                max-width: 100%;
            }

            }

        @media (max-width: 600px) {
            .container {
                grid-template-columns: 1fr;
                gap: 10px;
            }

            .grid {
                grid-template-columns: 1fr;
                margin-top: 20px;
                margin-bottom: 20px;
                gap: 10px;
            }
            .card {
                max-width: 100%;
            }
            .card-medium {
                font-size: 1em;
            }
        }