
.form_auth_block {
    width: clamp(min(10vw, 20rem), 370px, max(90vw, 55rem));
    font-family: "Manrope", sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background-color: darkcyan;
    background-size: cover;
    border-radius: 4px;
}
.logo {
    display: flex;
    box-sizing: border-box;
    margin: auto 0;
}

.form_auth_block_content{
  padding-top: 2%;
  padding-bottom: 2%;
}
.form_auth_block_head_text {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    text-align: end;
    padding: 10px;
    font-size: 18px;
    font-weight: 600;
    background: #b3dcdc;
    background-image: url('/static/img/logo/27.svg'); /* Устанавливаем фон */
    background-repeat: no-repeat; /* Отключаем повторение */
    background-size: 70px auto; /* Подгоняем размер */
    background-position: left; /* Размещаем left */
}

.form_auth_block label{
    display: block;
    text-align: center;
    padding: 10px;
    color: #ffffff;
    font-weight: 400;
    margin-bottom: 5px;
    margin-top: 5px;
}
.form_auth_block input{
      display: block;
      margin: 0 auto 10px;
      /*padding-left: 10px;*/
      width: 80%;
      height: 45px;
      border-radius: 10px;
      border:none;
      outline: none;
}

.form_auth_block textarea{
      display: block;
      margin: 0 auto 10px;
      resize: none;
      width: 80%;
      height: 175px;
      text-wrap: wrap;
      overflow-y: auto;
      border-radius: 10px;
      border:none;
      outline: none;
}

input:hover {
      color: #000000;
      border-radius: 10px;
      background: #ffffff;
      opacity: 0.7;
}

input:focus {
  color: #000000;
  border-radius: 10px;
  border: 2px solid #436fea;
}
.form_auth_button{
    display: flex;
    align-items: center; /* Выравнивание по вертикали */
    justify-content: center; /* Центрирование содержимого */
    gap: 10px; /* Расстояние между иконкой и текстом */
    padding: 10px 20px;
    width: 80%;
    /*margin-top: 10px;*/
    margin: 0 auto 10px;
    border-radius: 10px;
    height: 45px;
    border: none;
    cursor: pointer;
}

svg {
    flex-shrink: 0; /* Запрещаем уменьшение иконки */
}

.form_auth_button:hover {
      color: #000000;
      border-radius: 10px;
      background: #ffffff;
      opacity: 0.7;
}

.links-row {
            display: flex;           /* горизонтально */
            flex-direction: row;
            flex-grow: 1;
            gap: 2rem;
            justify-content: center; /* расстояние между ссылками */
            margin-top: 2rem;
            margin-bottom: 10px;
            padding: 1rem;
            width: 100%;
            text-align: left;
            }
.links-row a {
          text-align: center;
          font-size: 0.8em;
          color: rgba(44, 44, 44, 0.62);
          text-decoration: none;
      }

      .links-row a:hover {
          color: rgb(44, 44, 44);
          font-weight: bold;
      }

      .links-row a:focus {
          color: #171717;
          font-weight: bold;
      }

.text-info {
    padding-left: 5px;
    font-size: 0.7em;
}
/*#google-login {*/
/*    background: url('/static/img/icons/brand-google.svg') no-repeat left center;*/
/*    background-size: 20px; !* Размер иконки *!*/
/*    padding-left: 30px; !* Отступ, чтобы текст не накладывался *!*/
/*    height: 40px;*/
/*    border: 1px solid #ccc;*/
/*    cursor: pointer;*/
/*}*/

::-webkit-input-placeholder {color:#3f3f44; padding-left: 10px;}
::-moz-placeholder          {color:#3f3f44; padding-left: 10px;}
:-moz-placeholder           {color:#3f3f44; padding-left: 10px;}
:-ms-input-placeholder      {color:#3f3f44; padding-left: 10px;}