:root {
  --clr-primary-400: 263 55% 52%;
  --clr-secondary-400: 217 19% 35%;
  --clr-secondary-500: 219 29% 14%;
  --clr-neutral-100: 0 0% 100%;
  --clr-neutral-200: 210 46% 95%;
  --clr-neutral-300: 0 0% 81%;

  --ff-primary: "Manrope", sans-serif;

  --fw-400: 500;
  --fw-700: 600;

  --fs-300: 0.6875rem;
  --fs-400: 0.8125rem;
  --fs-500: 1.25rem;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

h1 {
  font-family: "Roboto Serif", serif;
  font-optical-sizing: auto;
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 1rem;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "wdth" 100,
    "GRAD" 0;
}

h2 {
  font-family: "Roboto Serif", serif;
  font-optical-sizing: auto;
  font-size: 2.5rem;
  line-height: 1.2;
  margin-bottom: 1rem;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "wdth" 100,
    "GRAD" 0;
}

h3 {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-size: 2rem;
  line-height: 1.2;
  margin-bottom: 0.5rem;
  opacity: 0.8;
  font-weight: 500;
  font-style: normal;
}

h4 {
  font-family: "Roboto Serif", serif;
  font-optical-sizing: auto;
  font-size: 1.8rem;
  line-height: 1.2;
  opacity: 0.8;
  font-weight: 700;
  font-style: normal;
  font-variation-settings:
    "wdth" 100,
    "GRAD" 0;
}

h5 {
  font-family: "Roboto Serif", serif;
  font-optical-sizing: auto;
  font-size: 1.5rem;
  line-height: 1.2;
  opacity: 0.7;
  font-weight: 700;
  font-style: italic;
  font-variation-settings:
    "wdth" 100,
    "GRAD" 0;
}

h6 {
  font-family: "Roboto Serif", serif;
  font-optical-sizing: auto;
  font-size: 1.3rem;
  line-height: 1.2;
  opacity: 0.9;
  font-weight: 400;
  font-style: italic;
  font-variation-settings:
    "wdth" 100,
    "GRAD" 0;
}


/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
/*img,*/
/*picture {*/
/*  max-width: 100%;*/
/*  display: block;*/
/*}*/

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
  padding: 0;
  background-color: #ce90e0;
  opacity: 0.9;
  background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #ce90e0 10px ), repeating-linear-gradient( #31edae55, #31edae );
  display: grid;
  place-content: center;
  /*align-items: center;*/
  font-family: var(--ff-primary);
  font-weight: var(--fw-400);
}

/*h1,*/
/*h2,*/
/*h3 {*/
/*  font-weight: var(--fw-700);*/
/*}*/

/* utilities */
.flex {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.truncate {
  display: inline-block;
  white-space: nowrap;        /* Prevents line wrap */
  overflow: hidden;           /* Hides overflowing text */
  text-overflow: ellipsis;    /* Shows "…" when text overflows */
  width: 280px;               /* Must define width */
}

.flow > *:where(:not(:first-child)) {
  margin-top: 1em;
}

.bg-primary-400 {
  background: hsl(var(--clr-primary-400));
}
.bg-secondary-400 {
  background: hsl(var(--clr-secondary-400));
}
.bg-secondary-500 {
  background: hsl(var(--clr-secondary-500));
}

.bg-neutral-100 {
  background: hsl(var(--clr-neutral-100));
}

.text-neutral-100 {
  color: hsl(var(--clr-neutral-100));
}
.text-secondary-400 {
  color: hsl(var(--clr-secondary-400));
}
.border-primary-400 {
  border: 2px solid #a775f1;
}


.logo {
    position: absolute;
    top: 1.5rem;
    right: 1rem;
    width: 50px;
    height: 50px;
    /*background: #b3dcdc;*/
    background-image: url('/static/img/logo/26.svg');
    background-size: contain;
    background-repeat: no-repeat;
}


/* components */
.grid {
  display: grid;
  gap: 1.5rem;
  grid-auto-columns: 1fr;
  grid-template-areas:
   'one'
   'two'
   'three'
   'four'
   'five';

  padding-block: 1rem;
  width: min(90vw, 75rem);
  /*width: clamp(95%, 55%, 55%);*/
  margin-inline: auto;
}

.card {
  font-size: var(--fs-400);
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 2.5rem 3.75rem 3rem -3rem hsl(var(--clr-secondary-400) / 0.25);
}

.card:nth-child(1) {
  grid-area: one;
}
.card:nth-child(2) {
  grid-area: two;
}
.card:nth-child(3) {
  grid-area: three;
}
.card:nth-child(4) {
  grid-area: four;
}
.card:nth-child(5) {
  grid-area: five;
}

@media screen and (min-width: 33em) {

    .grid {
      grid-template-areas:
      "one one"
      "two three"
      "four four"
      "five five";
  }
}

@media screen and (min-width: 38em) {



  .grid {
    grid-template-areas:
     'one one'
     'two five'
     'three five'
     'four four';
  }
}

@media screen and (min-width: 54em) {

  .grid {
      grid-template-areas:
      "one two two"
      "one five five"
      "three four four";
  }
}

@media screen and (min-width: 75em) {
  .grid {
      grid-template-areas:
      "one two three three"
      "one four five five";
  }
}


.card.quote {
  /*width: 350px;*/
  /*height: 350px;*/
  background-image: url("/static/img/logo/30.svg");
  background-repeat: no-repeat;
  background-position: top right 10%;
}

.card img {
  width: 1.75rem;
  aspect-ratio: 1;
}

.card-price {
  font-size: var(--fs-400);
  font-weight: var(--fw-400);
  line-height: 1.1;
  opacity: 0.9;
}

.card-small {
  font-size: var(--fs-300);
  opacity: 0.7;
}

/*.card h3 {*/
/*  font-size: var(--fs-500);*/
/*  font-weight: var(--fw-700);*/
/*  line-height: 1.3;*/
/*}*/

.card-medium {
  opacity: 0.8;
  font-size: var(--fs-500);
  font-weight: var(--fw-400);
  line-height: 1.2;
}

.card-content {
  opacity: 0.7;
}

.card:hover {
            box-shadow: 0 0 2rem rgba(0, 0, 0, 0.4);
            transition: all 0.3s ease-in-out;
        }



.copy-container {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 4px 8px;
  background-color: #f9f9f9;
  position: relative;
  max-width: clamp( 150px, 200px, 250px);
}

.copy-text {
  color: #2c2c2c;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: clamp( 210px, 250px, 270px);
}

.copy-button {
  background: none;
  border: none;
  cursor: pointer;
  color: #2c2c2c;
  font-size: 1rem;
  padding: 2px;
  transition: color 0.2s ease;
}

.copy-button:hover {
  color: #000;
}

.boosty-row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 1rem;
    padding: 0;
    /*width: 80%;*/
}

.user-literal {
    background-color: #2EE59D;
    border-radius: 100%;
    display: flex;
    width: 3.5rem;
    height: 3.5rem;
    aspect-ratio: 1 / 1;
    align-items: center;
    justify-content: center;
    font-weight: bold; /* опционально */
    color: #2a3602;       /* или тёмный цвет, если фон светлый */
    font-size: 1rem;
    overflow: hidden;
    flex-shrink: 0;             /* Не даёт flexу сжать блок */
    place-self: center;
}

.custom-list {
  list-style: none;
  padding-left: 0;

}

.custom-list li {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0.2rem;
  font-size: var(--fs-400);
  font-weight: var(--fw-400);
  line-height: 1.5;
}

.bullet-icon {
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}

.dropdown {
    width: 100%;
    margin-top: 1rem;
}


.dropdown-button {
    background-color: lightcyan;
    border-radius: 45px;
    height: 45px;
    padding: 10px 15px;
    text-align: center;
    cursor: pointer;
    font-size: var(--fs-400);
    font-weight: var(--fw-700);
    color: #333;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    list-style: none;
    user-select: none;
    width: 80%;
    box-sizing: border-box;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: auto;
}

.dropdown-button:hover {
    background-color: #2EE59D;
    opacity: 0.85;
}

.dropdown[open] .dropdown-button {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.dropdown-content {
    background-color: #fff;
    border: 1px solid #ccc;
    border-top: none;
    border-radius: 0 0 8px 8px;
    padding: 10px 15px;
    font-size: 0.75em;
    color: #333;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    max-height: 420px;         /* ✅ Ограничиваем высоту */
    overflow-y: auto;          /* ✅ Добавляем вертикальную прокрутку */
    box-sizing: border-box;
    width: min(70vw, 30rem);
    margin: auto;
}

.bottom-container {
  display: flex;
  flex-direction: column;
  height: 40vh; /* или 100% / 100vh */
  /*border: 1px solid gray;*/
}

.bottom {
  margin-top: auto;
}


.bottom a {
    text-align: left;
    font-size: var(--fs-400);
    color: var(--ff-primary);
    text-decoration: none;
}

.bottom a:hover {
    color: rgb(9, 9, 9);
    border-bottom: 1px solid #171717;
}

.bottom a:focus {
    color: #171717;
    border-bottom: 1px solid #171717;
}



.form_auth_block {
    width: clamp(min(10vw, 20rem), 370px, max(90vw, 55rem));
    height: 180px;
    margin-bottom: 1rem;
    background-color: #31edae55;
    background-size: cover;
    border-radius: 4px;
}

.form_auth_block label{
    display: block;
    text-align: center;
    padding: 10px;
    color: #2c2c2c;
    font-weight: 400;
    margin-bottom: 5px;
    margin-top: 5px;
}
.form_auth_block input{
      display: block;
      margin: 0 auto 10px;
      /*padding-left: 10px;*/
      width: 80%;
      height: 45px;
      border-radius: 10px;
      border:none;
      outline: none;
}

input:hover {
      color: #000000;
      border-radius: 10px;
      background: #ffffff;
      opacity: 0.7;
}

input:focus {
  color: #000000;
  border-radius: 10px;
  border: 2px solid #436fea;
}
.form_auth_button{
    display: flex;
    align-items: center; /* Выравнивание по вертикали */
    justify-content: center; /* Центрирование содержимого */
    gap: 10px; /* Расстояние между иконкой и текстом */
    padding: 10px 20px;
    width: 80%;
    /*margin-top: 10px;*/
    margin: 0 auto 10px;
    border-radius: 10px;
    height: 45px;
    border: none;
    cursor: pointer;
}


.form_auth_button:hover {
      color: #000000;
      border-radius: 10px;
      background: #ffffff;
      opacity: 0.7;
}

.wrap {
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  width: 150px;
  height: 45px;
  /*font-family: 'Roboto', sans-serif;*/
  font-size: 11px;
  /*text-transform: uppercase;*/
  /*letter-spacing: 2.5px;*/
  font-weight: 700;
  color: #000;
  background-color: #fff;
  border: solid 1px rgba(46, 229, 157, 0.4);
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  }

.button:hover {
  border: none;
  background-color: #2EE59D;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

.button:focus {
  border: none;
  background-color: #2EE59D;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}