{% extends 'first.html' %}
{% block main %}
{{ super() }}
<div class="container mt-3 text-center">
  <h3 class="display-6 mb-5">Какая-то незапланированная стачка на сервере, мы уже работаем над этим!</h3>
  <div class=" mt-5 mb-5 d-flex justify-content-center">
  </div>
  <div class="row justify-content-md-center">
    <div class="col col-lg-2"> </div>
    <div class="col-md-auto">
<p class="container mt-3 mb-5 text-center">Мы делаем все возможное, чтобы решить проблему.
На всякий случай, перезагрузите браузер, если не помогает, возвращайтесь позднее!</p>
<a href="{{url_for('index')}}">Вернуться на главную</a>
</div>
<div class="col col-lg-2"> </div>
</div>
{% endblock %}