{% extends "service.html" %}
{% block title %}О сайте{% endblock %}
{% block content %}

<div class="help-container">
  <h1 class="help-title">
      <a href="/"><img src="/static/img/logo/26.svg" alt="ChatGP" class="logo-icon"></a>
      Помощь</h1>
    <div class="links-row">
                <a href="/post">Блог&nbsp;</a>
                <a href="#">Приватность&nbsp;</a>
                <a href="#">Контакты&nbsp;</a>
                <a href="/price">Цены</a>
            </div>
<div class="help-grid">
    <div class="help-empty-col">&nbsp;&nbsp;</div>
    <div class="help-content">

  </div>
<div class="help-empty-col">&nbsp;&nbsp;</div>
</div>
</div>

<script>
document.querySelectorAll('.accordion-header').forEach(button => {
  button.addEventListener('click', () => {
    const targetId = button.dataset.target;
    const target = document.getElementById(targetId);

    // Закрыть все открытые
    document.querySelectorAll('.accordion-body').forEach(body => {
      if (body.id !== targetId) body.classList.remove('open');
    });

    // Переключить текущий
    target.classList.toggle('open');
  });
});
</script>


{% endblock %}