{% extends "service.html" %}
{% block title %}О сайте{% endblock %}
{% block content %}

<div class="help-container">
  <h1 class="help-title">
      <a href="/"><img src="/static/img/logo/26.svg" alt="ChatGP" class="logo-icon"></a>
      О сайте</h1>
    <div class="links-row">
                <a href="/post">Блог&nbsp;</a>
                <a href="/privacy">Приватность&nbsp;</a>
                <a href="/api/contact">Контакты&nbsp;</a>
                <a href="/price">Цены</a>
                <a href="/help">Помощь</a>
                <a href="https://t.me" target="_blank"><img src="/static/img/icons/telegram_icon.svg" alt="Telegram" style="width: 25px; height: 25px;" ></a>
            </div>
<div class="help-grid">
    <div class="help-empty-col">&nbsp;&nbsp;</div>
    <div class="help-content">
    Приветствуем тебя, дорогой пользователь ChatGP - умный ассистент! Этот сайт создан с
        помощью кода сгенерированного ИИ, основное "человеческое" время было затрачено
        на отладку и настройку сгенерированных блоков. <p>Для тех, кто не знал или
        не догадывался, искуственный интелект – или функция машинного обучения
        развивается с 70х годов прошлого века, а в наши дни испытывает настоящий
        бум. Всем известный "Т9" дописывающий текст сообщений еще в мобильных
        телефонах-мыльницах был одной из первых текстовых моделей ИИ.</p><p> Совершенствование
        алгоритмов и обучение моделей на огромных объемах данных привело к существенному
        прорыву в этой области, и уже 10 лет назад
        мощными нейронными помощниками обзавелись почти все крупные соцсети, поисковики, мобильные
        банки, космические станции и телескопы. </p><p>До сих пор вся эта мощь была полностью или
        частично закрыта для широкой аудитории, но компания Open AI одна из первых
        предоставила открытый доступ для всех желающих прикоснуться к будущему. Чат ГПТ –
        это передовая нейронная сеть, которая позволяет генерировать тексты с высокой
        степенью автоматизации и естественности. </p><p>Однако, доступ к сервисам в России может
        быть ограничен из-за определенных факторов. На нашем сайте реализована возможность
        прямого использования виртуального помощника для всех пользователей без географических
        ограничений.</p>
        <p>За последние 4 года первые большие текстовые модели получили мощное развитие и
            обзавелись многими полезными функциями от распознавания картинок и файлов до
        высокоскоростного веб-поиска и анализа актуальных данных.  </p>
        <p>Помимо базовой бесплатной подписки доступной всегда, для любого зарегистрированного
            пользователя мы подготовили несколько повышенных уровней подписки с дополнительными
        инструментами и повышенными лимитами под конкретную задачу.</p>
    <br>
        <p>Если вам понравился сервис, поддержите нас отзывом или донатом:</p>
        <div class="boosty-row">
                    <div><p>Ссылка для отзывов:</p>
                     <iframe src="https://yandex.ru/sprav/widget/rating-badge/233067138754?type=rating" width="150" height="50" frameborder="0"></iframe>
                    </div>
            <div><p class="flex"><img src="/static/img/icons/boosty-b.svg" width="25px">Бусти донаты:</p>
                        <a href="https://boosty.to/ketome.ru/donate" target="_blank" class="no-effects">
                         <img src="/static/img/pics/ketome.ru-donate.png"></a>
                        </div>

                        <div><p>Отдельная благодарность:</p>

                     <div id="donor-list"></div></div>
        </div>
  </div>

<div class="help-empty-col">&nbsp;&nbsp;</div>
</div>
</div>

<script>
document.querySelectorAll('.accordion-header').forEach(button => {
  button.addEventListener('click', () => {
    const targetId = button.dataset.target;
    const target = document.getElementById(targetId);

    // Закрыть все открытые
    document.querySelectorAll('.accordion-body').forEach(body => {
      if (body.id !== targetId) body.classList.remove('open');
    });

    // Переключить текущий
    target.classList.toggle('open');
  });
});
</script>
<script src="/static/js/donors.js" defer></script>

{% endblock %}