<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="color-scheme" content="light dark" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Manrope:wght@200..800&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Manrope:wght@200..800&display=swap" rel="stylesheet">
<!--    <link rel="stylesheet" href="/static/css/normalize.css">-->
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="/static/css/prism.css">
    <link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.conditional.cyan.min.css"
    >
    <title>{% block title %}Чат Ассистент{% endblock %}</title>
    </head>
<script src="/static/js/token.js"></script>
<body>

    <!-- Шапка с кнопкой открытия меню -->
    <header class="toggles">


    <button id="open-menu-btn" onclick="toggleMenu()"><img src="/static/img/icons/menu-2.svg" width="30" alt="open"></button>
    </header>

    <!-- Основной контейнер-->
    <div class="layout">
        <!-- Боковое меню -->
        <aside id="sidebar">

            <div class="side-bar-header">
                <div class="container-icons">
                <div class="item tooltip"><button id="chose-mode-btn" class="new-chat-button"  onclick="window.location.href='/price'"><img src="/static/img/icons/settings.svg" width="30"  alt="mode"></button><span class="tooltiptext">Настройки</span></div>
                    <div class="item tooltip"><button id="find-chat-button" class="new-chat-button"><img src="/static/img/icons/user.svg" width="30" alt="user"></button><span class="tooltiptext">Пользователь</span></div>
                  <div class="item tooltip"><button id="new-chat-btn" class="new-chat-button"><img src="/static/img/icons/square-plus.svg" width="30" alt="new chat"></button> <span class="tooltiptext">Новый чат</span></div>
                <div class="item tooltip"><button id="close-menu-btn" onclick="toggleMenu()"><img src="/static/img/icons/transition-left.svg" width="30"  alt="close"></button><span class="tooltiptext">Закрыть</span></div>

            </div>

            </div>
        <div class="container-icons-column">
             <div class="item-content tooltip"><a id="home" href="/"><img src="/static/img/logo/29.svg" width="40" alt="chatgp"><small>ChatGP.Ru ассистент</small></a><span class="tooltiptext">О сервисе</span></div>
             <div class="item-content tooltip"><a href="/price"><img src="/static/img/icons/blocks.svg" width="40" alt="user">
                {% set plans = {
                        "trial": "Базовый",
                        "basic": "Оптимум",
                        "pro": "Мыслитель",
                        "premium": "Премиум"
                    } %}
                 {% if user %}
                     {% if user.trial_expires_at %}
                     <small>
                        <b style="text-transform: uppercase;">{{ plans[user.status] }} </b>&nbsp; до конца дня
                     </small>
                     {% else %}
                     <small>
                        <b style="text-transform: uppercase;">{{ plans[user.status] }} </b>&nbsp; текущий план
                     </small>
                    {% endif %}
                 {% endif %}

                 </a><span class="tooltiptext">Текущий план</span></div>
{#            <div class="item-content tooltip"><a href="#" ><img src="/static/img/icons/shopping-cart.svg" width="40" alt="upgrade"><small>Чат премиум</small></a><span class="tooltiptext">Подключить премиум</span></div>#}
        </div>

            <div class="sidebar-main">

             <div id="chat-list">

                        {% if user_summaries %}
            {% for summary in user_summaries %}
                <button class="list-button {% if loop.first %}active{% endif %}" data-chat-id="{{ summary['chat_id'] }}"><small>{{ summary['summary'] }}</small></button><br>
            {% endfor %}

                        {% endif %}
                            </div>


        </div>

            <div class="sidebar-footer">

              <div class="container-icons-column">

                    <div class="item-content"><a href="#">Приватность</a></div>
                  <div class="item-content"><a href="#">Помощь</a></div>
                    <div class="item-content"><a href="#">Блог</a></div>
         </div>

              <div class="container-icons" style="justify-content:space-evenly;">



                 <div class="item tooltip" style="text-align: end">
                        <a href="#" data-theme-switcher>
                            <img src="/static/img/icons/brightness-auto.svg" width="18" alt="auto">
                        </a><span class="tooltiptext">Свет</span>
                    </div>
              </div>
            </div>
        </aside>

        <!-- Основное содержимое -->
        <main id="main">
            {% block content %}{% endblock %}
            <noscript><div id="js-warning" style="background: #fffc00; color: black; padding: 10px; text-align: center;">
        <p>⚠️ JavaScript отключен или ваш браузер не поддерживает JavaScript! -</p>
           <p>Чтобы пользоваться функционалом сайта включите JS или используйте другой браузер!</p>
        </div>

        </noscript>
        </main>
    </div>

    <script>
        function toggleMenu() {
            document.getElementById('sidebar').classList.toggle('open');
        }
    </script>

    <script src="/static/js/prism.js"></script>
    <script src="/static/js/get_chat_body.js"></script>
    <script src="/static/js/codeSnippets.js"></script>
    <script src="/static/js/copy_button.js" defer></script>
    <!-- Minimal theme switcher -->
    <script src="/static/js/minimal-theme-switcher.js" defer></script>
    <!-- Modal-->
    <script src="/static/js/modal.js" defer></script>

</body>
</html>