<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="ChatGP – умный ассистент: искусственный интеллект на базе современной думающей GPT-языковой модели с веб-поиском">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="color-scheme" content="light dark" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Manrope:wght@200..800&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Manrope:wght@200..800&display=swap" rel="stylesheet">
<!--    <link rel="stylesheet" href="/static/css/normalize.css">-->
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="/static/css/prism.css">
    <link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.conditional.cyan.min.css"
    >
    <title>{% block title %}Чат Ассистент{% endblock %}</title>
    </head>

<body>

    <!-- Шапка с кнопкой открытия меню -->
    <header class="toggles">


    <button id="open-menu-btn" onclick="toggleMenu()"><img src="/static/img/icons/menu-2.svg" width="30" alt="open"></button>
    </header>

    <!-- Основной контейнер-->
    <div class="layout">
        <!-- Боковое меню -->
        <aside id="sidebar">

            <div class="side-bar-header">
                <div class="container-icons">
                <div class="item tooltip"><a href="#" class="new-chat-button" data-theme-switcher="auto">
                            <img src="/static/img/icons/loader.svg" width="25" alt="свет">
                        </a><span class="tooltiptext">Свет</span></div>
                    <div class="item tooltip"><button id="find-chat-button" class="new-chat-button"><img src="/static/img/icons/user.svg" width="25" alt="пользователь" onclick="window.location.href='/dash'"></button><span class="tooltiptext">Пользователь</span></div>
                  <div class="item tooltip"><button id="new-chat-btn" class="new-chat-button"><img src="/static/img/icons/square-plus.svg" width="25" alt="новый чат"></button> <span class="tooltiptext">Новый чат</span></div>
                <div class="item tooltip"><button id="close-menu-btn" onclick="toggleMenu()"><img src="/static/img/icons/transition-left.svg" width="25"  alt="закрыть"></button><span class="tooltiptext">Закрыть</span></div>

            </div>

            </div>
        <div class="container-icons-column">
             <div class="item-content tooltip"><button id="chose-mode-btn" class="side-bar-hint-button"  onclick="window.location.href='/'" style="width: 220px"><img src="/static/img/logo/29.svg" width="40" alt="chatgp"><small>ChatGP: умный ассистент</small></button><span class="tooltiptext">О сервисе</span></div>
             <div class="item-content tooltip"><button id="chose-mode-btn" class="side-bar-hint-button"  onclick="window.location.href='/dash'" style="width: 220px"><img src="/static/img/icons/blocks.svg" width="40" alt="user">
                {% set plans = {
                        "trial": "Базовый",
                        "basic": "Оптимум",
                        "advanced": "Фрилансер",
                        "business": "Бизнес",
                        "pro": "Мыслитель",
                        "premium": "Премиум"
                    } %}
                 {% if user %}
                     {% if user.stat == 'trial' and user.original_status != "trial" and user.trial_expires_at %}
                     <small>
                        <b style="text-transform: uppercase;">{{ plans[user.status] }} </b>&nbsp; временно
                     </small>
                     {% else %}
                     <small>
                        <b style="text-transform: uppercase;">{{ plans[user.status] }} </b>&nbsp; оплачен
                     </small>
                    {% endif %}
                 {% endif %}

                 </button><span class="tooltiptext">дашборд</span></div>
{#            <div class="item-content tooltip"><a href="#" ><img src="/static/img/icons/shopping-cart.svg" width="40" alt="upgrade"><small>Чат премиум</small></a><span class="tooltiptext">Подключить премиум</span></div>#}
        </div>

            <div class="sidebar-main">

                         <div id="chat-list">
              {% if user_summaries %}
                {% for summary in user_summaries %}
                  <div class="chat-entry {% if loop.first %}active{% endif %}" data-chat-id="{{ summary['chat_id'] }}">
                    <button class="list-button">
                      <small>{{ summary['summary'] }}</small>
                    </button>
                    <button class="delete-chat" title="Удалить чат"><img src="/static/img/icons/x.svg" width="14" alt="delete"></button>
                  </div>
                {% endfor %}
              {% endif %}
            </div>



        </div>

            <div class="sidebar-footer">

              <div class="container-icons-column">

                    <div class="item-content"><a href="/privacy">Приватность</a></div>
                  <div class="item-content"><a href="/help">Помощь</a></div>
                    <div class="item-content"><a href="/post">Блог</a></div>
                  <div class="item-content"><a href="/contact">Контакты</a></div>

                     <div class="item tooltip"><button id="chose-mode-btn" class="side-bar-hint-button"  onclick="window.location.href='/price'">
                         <img src="/static/img/icons/stars.svg" width="20"  alt="mode">
                         <small>&nbsp;Повысить план</small></button>
                         <span class="tooltiptext">Управление подписками</span></div>
         </div>

            </div>
        </aside>

        <!-- Основное содержимое -->
        <main id="main">
            {% block content %}{% endblock %}
            <noscript><div id="js-warning" style="background: #fffc00; color: black; padding: 10px; text-align: center;">
        <p>⚠️ JavaScript отключен или ваш браузер не поддерживает JavaScript! -</p>
           <p>Чтобы пользоваться функционалом сайта включите JS или используйте другой браузер!</p>
        </div>

        </noscript>
        </main>
    </div>

    <script>
        function toggleMenu() {
            document.getElementById('sidebar').classList.toggle('open');
        }
    </script>

    <script src="/static/js/prism.js"></script>
    <script src="/static/js/get_chat_body.js"></script>
    <script src="/static/js/codeSnippets.js"></script>
    <script src="/static/js/copy_button.js" defer></script>
    <script src="/static/js/token.js" defer></script>
    <!-- Minimal theme switcher -->
    <script src="/static/js/minimal-theme-switcher.js" defer></script>
    <!-- Modal-->
    <script src="/static/js/modal.js" defer></script>
<div id="scroll-anchor"></div>
</body>
</html>