{% extends "noheader.html" %}

{% block title %}Обратная связь{% endblock %}

{% block content %}

<div class="pico">
    <div class="container-fluid">

    <article class="form_auth_block">

                <header class="form_auth_block_head_text">Контактная форма</header>
<form class="form_auth_block_content" action="/contact/submit" method="post">
  {% if message %}
    <label style="color: green">{{ message }}</label>
  {% elif error %}
    <label style="color: red">{{ error }}</label>
  {% else %}
    <label for="name">Обращение от...</label>
  {% endif %}
  <input type="text" id="name" name="name" placeholder="Ваше имя" value="{{ name | default('') }}" required>
    <label for="email">Введите действующий email</label>
  <input type="email" id="email" name="email" placeholder="Email" value="{{ email | default('') }}" required>
    <label for="message">Введите текст вашего обращения</label>
  <textarea id="message" name="message" placeholder="Сообщение..." required>{{ message_text | default('') }}</textarea>

  <input type="hidden" name="form_time" value="{{ form_time }}">
  <input type="text" name="honeypot" style="display:none">
  <input type="hidden" id="recaptcha_token" name="recaptcha_token">

  <button type="submit" class="form_auth_button">Отправить</button>
</form>
    </article>
    </div>
</div>
    <div class="links-row">
                <a href="/">Главная&nbsp;</a>
                <a href="/help">Помощь&nbsp;</a>
                <a href="/post">Блог&nbsp;</a>
                <a href="/price">Цены</a>
            </div>
<script src="https://www.google.com/recaptcha/api.js?render=6LeJJzUrAAAAAJD4XSZ0cc8kPkfe1bem8t37EujT"></script>
<script>
  grecaptcha.ready(function() {
    grecaptcha.execute('6LeJJzUrAAAAAJD4XSZ0cc8kPkfe1bem8t37EujT', {action: 'submit'}).then(function(token) {
      document.getElementById('recaptcha_token').value = token;
    });
  });
</script>

{% endblock %}