{% extends "noheader2.html" %}

{% block title %}Страница пользователя{% endblock %}

{% block content %}

    <div class="container">

    <!-- Левая колонка с логотипом и ссылками -->
    <div class="sidebar">
        <div class="logo" onclick="window.location.href='/'" style="cursor: pointer"></div>
        <h1>Личный кабинет</h1>
    {% if user %}
        {% if user.contact %}
            <p class="card-small">Ваш email: {{ user.contact }}</p>
            {% if user.auth_provider != "local" %}
             <p class="card-small">Вы авторизованы через: {{ user.auth_provider }}</p>
                {% else %}
                <p class="card-small">Ваш никнейм совпадает с email</p>
            {% endif %}
        {% else %}
            <p class="card-small">Вы авторизованы через: {{ user.auth_provider }}</p>
            <p class="card-small">Добавить электронную почту, чтобы оставаться на связи</p>

            <form  class="form_auth_block" id="add-email" method="post" action="/api/add_email">
                <label class="form_auth_block_label" for="email">Email для связи:</label>
                <input   type="email" id="email" name="email" placeholder="myemail@example.com"
        autocomplete="email">

                <button id="update-contact" class="form_auth_button" type="submit">Добавить</button>
            </form>
            <p id="email-status" class="card-small" style="margin-top: 8px;"></p>

        {% endif %}
        <div class="links-row">
            <a href="/post">Блог</a>
            <a href="/about">О сервисе</a>
            <a href="/api/contact">Контакты</a>
            <a href="/price">Цены</a>
            <a href="/help">Помощь</a>
            <a href="/api/logout">Выход</a>
        </div>
    </div>

    <!-- Основной контент (две другие колонки) -->
    <div class="grid">

        <!-- Левая из двух правых колонок -->
        <div class="card" style="height: 40vh; justify-content: flex-start; margin-bottom: 20px;">
            <img src="/static/img/icons/user.svg" alt="User" style="width: 25px; height: 25px;" >
            <p class="card-price">Пользователь</p>
        <div class="card-content">
            <span class="card-medium">Никнейм: {{ user.email }}</span>
             <span class="card-medium">Дата регистрации: {{ user.registered_at | datetimeformat  }}</span>
            <span class="card-medium">Текущий план: <b>{{ plans[user.original_status] }}</b></span>
            {% if user.original_status != 'trial' and user.status == 'trial' %}
            <span class="card-small">Временно понижен до: <b>{{ plans[user.status] }}</b></span>

            {% if user.trial_expires_at or user.trial_expires_blocked %}
            <span class="card-small">Лимиты сбросятся: {{ user.trial_expires_at | datetimeformat  }}</span>
            {% endif %}
                {% endif %}
        </div>
        </div>

        <!-- Правая из двух правых колонок -->
        <div class="card" style="height: 40vh; justify-content: flex-start; margin-bottom: 20px;">
            <img src="/static/img/icons/settings.svg" alt="Stats" style="width: 25px; height: 25px;">
            <p class="card-price">Подписки</p>
            <div class="card-content">
            {% if user.subscription|length > 0 %}
                    {% if user.subscription.pending_level %}
                  <span>Отложенная подписка: <b>{{ plans[user.subscription.pending_level] }}</b></span>
                <span class="card-small">Вступит в силу: {{ user.subscription.pending_activation_date | datetimeformat }}</span>
                        {% endif %}
                    {% if user.subscription.is_active %}
                        <span>Активная подписка: <b>{{ plans[user.subscription.level] }}</b></span>
                    {% else %}
                        <span class="card-small">Активация</span>
                    {% endif %}
                  <span class="card-small">Истекает: {{ user.subscription.expires_at | datetimeformat }}</span>
                  <span class="card-small">Продлить до: {{ user.subscription.next_billing_date | datetimeformat }}</span>


            {% endif %}
            </div>
        </div>

        <!-- Третья карточка, если хочешь -->
        <div class="card" style="height: 40vh; justify-content: flex-start; margin-bottom: 20px;">
            <img src="/static/img/icons/shopping-cart.svg" alt="Settings" style="width: 25px; height: 25px;">
            <p class="card-price">Транзакции</p>
        <div class="card-content">
                    <span class="card-small">Использовано токенов: {{ user.tokens }}</span>
                   <span class="card-small">Токены поиска: {{ user.attempts }}</span>
                    {% if user.subscription|length > 0 and user.subscription.payment_history|length > 0 %}
                    <span class="card-small">ID Последней транзакции: {{ user.subscription.transaction_id }}</span>
                    <details class="dropdown">
                    <summary class="dropdown-button">ТОН транзакции</summary>
                    <div class="dropdown-content">
                        <div class="dropdown-content">
                      {% for payment in user.subscription.payment_history %}
                        <div class="card-small">
                          {{ payment.date | datetimeformat}} — {{ payment.amount }} TON от {{ payment.source }} (tx_id: {{ payment.tx_id }})
                        </div>
                      {% else %}
                        <div class="card-small">ТОН платежей пока нет</div>
                      {% endfor %}
                    </div>
                    </div>
                        </details>

                        {% endif %}
        </div>
        </div>

    <!-- Четвёртая карточка, если хочешь -->
        <div class="card" style="height: 40vh; justify-content: flex-start; margin-bottom: 20px;">
            <img src="/static/img/icons/boosty_logo.svg" alt="Settings" style="width: 80px; height: auto;">

        <div class="card-content">
                    <span class="card-small">Бусти личный идентификатор:</span> {% if boosty %}
            <span class="card-small copy-container" style="width: 180px;" data-full="{{ boosty }}">
  <span class="copy-text" title="{{ boosty }}">
    {{ boosty }}
  </span>
  <button class="copy-button" onclick="copyText(this)" title="Скопировать">
    <img src="/static/img/icons/copy.svg" alt="Copy" style="width: 18px; height: 18px;">
  </button>
</span>
                                                                            {% else %}<span class="card-small">
                                                                                Необходимо подтвердить email</span>
                                                                            {% endif %}
                <span class="boosty-row"><a href="https://boosty.to/ketome.ru/donate" target="_blank">
                    <img src="/static/img/pics/ketome.ru-donate.png" style="border-radius: unset; width: 120px; height: auto;" alt="boosty">
                </a>
        </span>
        </div>
        </div>
    <!-- Пятая карточка, если хочешь -->
        <div class="card" style="height: 40vh; justify-content: flex-start; margin-bottom: 20px;">
            <img src="/static/img/icons/skateboarding.svg" alt="Settings" style="width: 25px; height: 25px;">
            <p class="card-price">Текущий план</p>
        <div class="card-content">
                    <span class="card-small">Количество токенов в день</span>
                   <span class="card-small">Количество поисков в неделю</span>
                    <span class="card-small">Модель</span>
                    <span class="card-small">Для чего подходит план</span>
                    <span class="card-small"><a href="/">Примеры промптов</a></span>

        </div>
        </div>

    <!-- Шестая карточка, если хочешь -->
{#        <div class="card" style="height: 30vh; justify-content: flex-start; margin-bottom: 20px;">#}
{#            <img src="/static/img/icons/shopping-cart.svg" alt="Settings" style="width: 25px; height: 25px;">#}
{#            <p class="card-price">Отчёты</p>#}
{#        <div class="card-content">#}
{#                    <span class="card-small">Использовано токенов: {{ user.tokens }}</span>#}
{#                   <span class="card-small">Токены поиска: {{ user.attempts }}</span>#}
{#                    {% if user.subscription|length > 0 and user.subscription.payment_history|length > 0 %}#}
{#                    <span class="card-small">ID Последней транзакции: {{ user.subscription.transaction_id }}</span>#}
{#                    <details class="dropdown">#}
{#                    <summary class="dropdown-button">Все транзакции</summary>#}
{#                    <div class="dropdown-content">#}
{#                        <div class="dropdown-content">#}
{#                      {% for payment in user.subscription.payment_history %}#}
{#                        <div class="card-small">#}
{#                          {{ payment.date | datetimeformat}} — {{ payment.amount }} TON от {{ payment.source }} (tx_id: {{ payment.tx_id }})#}
{#                        </div>#}
{#                      {% else %}#}
{#                        <div class="card-small">Платежей пока нет</div>#}
{#                      {% endfor %}#}
{#                    </div>#}
{#                    </div>#}
{#                        </details>#}
{##}
{#                        {% endif %}#}
{#        </div>#}
{#        </div>#}

    </div>
</div>
        <script>
        const addForm = document.getElementById('add-email');

        if (addForm) {
            addForm.addEventListener('submit', async (e) => {
                e.preventDefault();

                const form = e.target;
                const email = form.email.value.trim();
                const statusElement = document.getElementById('email-status');

                // Простая проверка email через регулярное выражение
                const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
                if (!emailRegex.test(email)) {
                    statusElement.textContent = "Введите корректный email.";
                    statusElement.style.color = "red";
                    return;
                }

                try {
                    const response = await fetch('/api/add_email', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/x-www-form-urlencoded',
                        },
                        body: new URLSearchParams({email})
                    });

                    const result = await response.json();
                    if (result.status === "success") {
                        await showModal(result.message, 'success');
                    } else {
                        await showModal(result.message, 'error');
                    }
                } catch (err) {
                    await showModal("Ошибка выполнения запроса: " + err.message, 'error');
                }
            });
        }


        async function showModal(message, status = "info", action = null) {
  const modal = document.getElementById("modal-feedback");

  // Установить данные
  modal.querySelector("h3").textContent = message;
  modal.classList.remove("success", "error", "warning", "info");
  modal.classList.add(status);

  // Обработка action
  const formWrapper = modal.querySelector(".modal-actions");
  formWrapper.innerHTML = "";
  if (action) {
    const form = document.createElement("form");
    form.method = action.method || "get";
    form.action = action.url;
    const button = document.createElement("button");
    button.type = "submit";
    button.textContent = action.label;
    button.classList.add("action-button");
    form.appendChild(button);
    formWrapper.appendChild(form);
  }

  openModal(modal); // из твоего modal.js
}

        function copyText(button) {
    const container = button.closest('.copy-container');
    const text = container.dataset.full;

    navigator.clipboard.writeText(text)
      .then(() => {
        button.innerHTML = "<img src='/static/img/icons/copy-check.svg' alt='Check' style='width: 18px; height: 18px;'>";
        setTimeout(() => {
          button.innerHTML = "<img src='/static/img/icons/copy.svg' alt='Copy' style='width: 18px; height: 18px;'>";
        }, 1500);
      })
      .catch(err => {
        console.error("Ошибка копирования:", err);
      });
  }
        </script>
{% include "modal_base.html" %}
    {% endif %}
{% endblock %}
