{% extends "noheader2.html" %}

{% block title %}Результат{% endblock %}

{% block content %}
<a href="/" class="logo"></a>
<script src="/static/js/token.js"></script>
    <script src="/static/js/modal.js"></script>
    <script>

  document.addEventListener("DOMContentLoaded", () => {
    showModal("{{ message | safe }}", "{{ status | safe }}", {{ action | tojson | safe }});
  });


  async function showModal(message, status = "info", action = null) {
  const modal = document.getElementById("modal-feedback");

  // Установить данные
  modal.querySelector("h3").textContent = message;
  modal.classList.remove("success", "error", "warning", "info");
  modal.classList.add(status);

  // Обработка action
  const formWrapper = modal.querySelector(".modal-actions");
  formWrapper.innerHTML = "";
  if (action) {
    const form = document.createElement("form");
    form.method = action.method || "get";
    form.action = action.url;
    const button = document.createElement("button");
    button.type = "submit";
    button.textContent = action.label;
    button.classList.add("action-button");
    form.appendChild(button);
    formWrapper.appendChild(form);
  }

  openModal(modal); // из твоего modal.js
    }</script>
{% include "modal_base.html" %}
{% endblock %}

