{% extends "service.html" %}
{% block title %}Помощь{% endblock %}
{% block content %}
{#Пояснение ограничений, пояснение работы веб поиска, пояснение ручного продления подписки, пояснение невозврата средств при смене подписки.#}
{#Ангажировать добавить к акку email для связи для юзеров  vk, telegram.#}
<div class="help-container">
  <h1 class="help-title">
      <a href="/"><img src="/static/img/logo/26.svg" alt="ChatGP" class="logo-icon"></a>
      Помощь</h1>
    <div class="links-row">
                <a href="/about">О сервисе&nbsp;</a>
                <a href="/post">Блог&nbsp;</a>
                <a href="/privacy">Приватность&nbsp;</a>
                <a href="/api/contact">Контакты&nbsp;</a>
                <a href="/price">Цены</a>
            </div>
<div class="help-grid">
    <div class="help-empty-col">&nbsp;&nbsp;</div>
    <div class="help-content">
        <div class = "help-intro">ChatGP - умный ассистент или чат-бот с искусственным интеллектом, созданный на базе LLM-модели компании OpenAI,
        предоставляет возможность пользоваться различными функциями, такими как: создание контента,
        продающих и тематических текстов, перевода и исправления ошибок, объяснение явлений и концепций, получения исторических и научных справок,
        анализа, написания и исправления кода, интеллектуального веб-поиска, чтения информации с фото.
        <p>Он был создан на основе нейросети, одной из самых совершенных языковых моделей GPT, и является более
        гибким и умным, чем большинство чат-ботов с искусственным интеллектом, доступных на рынке. Последний апдейт дополнил
            нейронные сети чата возможностью анализировать данные, сохранять контекст и пользоваться эффективным веб-поиском.
        </p></div>
<div class="custom-accordion" id="accordion">
  <div class="accordion-item">

      <button class="accordion-header" data-target="item1">
        Как пользоваться?
      </button>

    <div id="item1" class="accordion-body">
      <ul>
          <li>Напишите ваш вопрос, текст или вставьте текст из другого источника в поле ввода.</li>
      <li>Для уточнения действий используйте подсказки или инструкции. Например: Сгруппируй ключевые слова по значению """
      ..ваш набор слов или фраз.."""</li>
      <li>Еще пример: перепиши """ваш текст""" в продающем стиле, используй слоган  "Мой Брэнд – лучший среди моей мамы",
      уложись в 1000 знаков. </li>
      <li>Если ты хочешь использовать конкретный контекст или пример задачи, то на него можно явно указать в запросе. Для выделения контекста (примера) из тела запроса используй ### или """. Например:
      Перепиши сказку  в стиле Эдгара По: <br>### Жил-был один мудрый мастер, который умел создавать красивые керамические вазы. Однажды, подросток спросил мастера:
      "Как ты создаешь такую красивую вазу?". <br>Мастер улыбнулся и ответил: "Я просто беру глыбу глины и начинаю удалять все, что не является вазой"
      Подросток задумался и понял, что жизнь подобна этому процессу создания вазы. Нам нужно удалять все ненужное, чтобы обнаружить истинную красоту и
          ценность в нашей жизни. ###</li>
      </ul>


</div>
  </div>
  <div class="accordion-item">

      <button class="accordion-header" data-target="item2">
        Как писать промпты?
      </button>

    <div id="item2" class="accordion-body">
      <ul>
          <li>Уточняйте и конкретизируйте запрос. Чем более ясно и точно вы сформулируете, тем более исчерпывающие и информативные будут ответы чата.</li>

<li>Используйте контекст и контекстуальные подсказки (отрывок текста или фрагмент кода). Вы можете предоставить чату дополнительный контекст и подсказки, чтобы помочь ему лучше понять вашу задачу. В новой редакции чат хранит историю ваших последних запросов и использует ее в качестве контекста.</li>

<li>Используйте постобработку результатов. Выходные данные от чата могут быть дополнительно обработаны после их получения. Например, вы можете проанализировать и отформатировать результаты, чтобы получить более развернутые и структурированные ответы.</li>

<li>Применяйте итеративный подход. Модель обучается на большом объеме текстовых данных и может иметь ограничения в точности и развернутости ответов. Попробуйте использовать итеративный подход (несколько похожих запросов с уточняющими командами или без них), внося коррективы в запросы и анализируя результаты, чтобы постепенно улучшать итоговые ответы.</li>
    </ul>
    </div>
  </div>


  <div class="accordion-item">

      <button class="accordion-header" data-target="item3">
        История чатов
      </button>

    <div id="item3" class="accordion-body">
      <div>Сервис хранит до 250 последних чатов, более старые перезаписываются новыми. При переполнении чата, создается новый. Вы можете быстро переместиться к любому вашему чату используя ссылки в боковой панели слева. Вы можете удалить чаты, которые вам больше не нужны. </div>
  </div></div>

  <div class="accordion-item">

      <button class="accordion-header" data-target="item4">
        Регистрация. Управление аккаунтом и подписками
      </button>

    <div id="item4" class="accordion-body">Для надёжности и достоверности данных сервис использует регистрацию через провайдеров,
        для &nbsp;<a href="/authorize">регистрации</a>&nbsp; требуются действительный аккаунт в Google, Yandex, Вконтакте или в Телеграм.
        Подтверждение о регистрации автоматически отправляется на указанную электронную почту, если это применимо.
        Подробнее об использовании данных вы можете ознакомиться на странице <a href="/privacy">Приватность</a>.
        На странице <a href="/price">цены</a> вы можете управлять вашей подпиской.
        Для удаления аккаунта и ваших данных из базы сервиса вы можете обратиться в
        поддержку через <a href="/api/contact">Контактную форму</a>.</div>
  </div>
  <div class="accordion-item">

      <button class="accordion-header" data-target="item5">
        Как пользоваться веб-поиском?
      </button>

    <div id="item5" class="accordion-body">Режим поиска включается кнопкой поиска в поле запроса, если поиск доступен на вашем текущем плане подписки.
        В режиме веб-поиска производится подробный поиск вашего запроса в сети и последующий анализ результатов.
        В результате анализа отбираются самые релевантные данные и на их основании формируется ответ со ссылками на источники.
        Поиск используется для актуализации информации, когда это требуется.
        Один поиск включает в себя множество операций, что более затратно для ресурсов чата, поэтому
        количество поисков ограничено для каждого плана. Для более эффективного использования инструмента поиска
        постарайтесь сформулировать запрос максимально точно и заранее продумайте возможные уточнения, чтобы сузить
        поле поиска и обеспечить релевантность результатов, такие как:
        название, время, место, тематика, имена, даты, ключевые слова и другие важные детали.</div></div>

  <div class="accordion-item">

      <button class="accordion-header" data-target="item6">
        Оформление подписки
      </button>

    <div id="item6" class="accordion-body">
        Подписка оформляется на 30 дней. На данный момент есть два варианта подписки: через сервис <a href="https://boosty.to/ketome.ru" target="_blank">boosty.to</a>
        и через Тон кошелек, выбрав подходящий план на&nbsp<a href="/price">странице планов</a>.
        Доступны гранты на подписку и другие способы перейти на повышенный план, в том числе волонтерские. Пишите в поддержку.
        При переходе с повышенного плана подписки на пониженный, новая подписка подключается по истечение старой.
        При повышении подписки до конца периода текущей подписки, новая подписка становится доступной сразу после подтверждения
        оплаты. В обоих случаях оплата за текущую подписку не возмещается. Подписка через Boosty продлевается автоматически,
        когда как подписку через Тон кошелек надо продлевать каждые 30 дней вручную. Вам будут отправлены напоминания на электронную
        почту с напоминанием продлить подписку. Если вы зарегистрировались через VK или Telegram, то для подключения
        плана подписки вам потребуется добавить и подтвердить действительный email для связи.
        Просьба принять во внимание, что подтверждение подписки через Бусти может занимать от 30 минут до 8 часов, в зависимости
        от загруженности технического отдела и вашей часовой зоны.</div>

  </div>
  <div class="accordion-item">

      <button class="accordion-header" data-target="item7">
        Как связаться с админом сайта?
      </button>

    <div id="item7" class="accordion-body">Для связи с администрацией сайта с вопросами, предложениями или жалобами можно связаться через контактную форму. Для этого вам нужно <a href="/authorize">Зарегистрироваться</a>&nbsp; и перейти на страницу <a href="/api/contact">Контакты</a>.
        Не забудьте указать ваш email или никнейм при регистрации, а также тему обращения, чтобы наша команда могла правильно
        адресовать ваше сообщение. Время ожидания ответа на ваше обращения может занимать 3-5 рабочих дней.
        Прежде чем писать в поддержку, рекомендуем вам изучить страницу помощи, где вы почти всегда можете найти
        нужную информацию. С нашей стороны мы будем постоянно дополнять и расширять этот раздел.
    </div>
  </div>

  </div>
    </div>
<div class="help-empty-col">&nbsp;&nbsp;</div>
</div>
</div>

<script>
document.querySelectorAll('.accordion-header').forEach(button => {
  button.addEventListener('click', () => {
    const targetId = button.dataset.target;
    const target = document.getElementById(targetId);

    // Закрыть все открытые
    document.querySelectorAll('.accordion-body').forEach(body => {
      if (body.id !== targetId) body.classList.remove('open');
    });

    // Переключить текущий
    const wasClosed = !target.classList.contains('open');
    target.classList.toggle('open');

    // Прокрутить, если открыли
    if (wasClosed) {
      // подождать, пока DOM "поймёт", что элемент открыт и отрендерен
      setTimeout(() => {
        target.scrollIntoView({ behavior: 'smooth', block: 'end' });
      }, 300); // подстраивай под CSS transition (если есть)
    }
  });
});
</script>


{% endblock %}