{% extends "base.html" %}

{% block title %}Home Page{% endblock %}

{% block content %}
{% if not user %}

    <div class="main-header">

        <p>&nbsp</p>
</div>

{#       <div class="container-main">#}
           <div class="content-wrapper">
			<div class="guest-content">
					<div class="intro-block"><h1 style="font-size: 2rem">ChatGP - умный ассистент</h1>
                <a class="new-chat-button" style="border: solid 2px #62a07b; font-size: 16px; padding: 0.5rem;" href="/authorize">Войти, чтобы продолжить</a></div>
                <a href="/about" class="box"><h4 style="font-size: 1rem; margin-bottom: 0.5rem;">Что такое ChatGPT?</h4><span>Это интерфейс разработанный компанией OpenAI на базе нейронной сети обученной на большом объеме данных.</span>
				</a>
                <div class="box"><h4 style="font-size: 1rem; margin-bottom: 0.5rem;">Что значит языковая модель? </h4><span>Это нейронная сеть или искусственный интеллект обученный на колоссальных объёмах текстовых данных на разных языках.</span></div>
                <div class="box"><h4 style="font-size: 1rem; margin-bottom: 0.5rem;">Что такое токен?</h4> <span>Токенами принято считать схожие последовательности символов в наборе текста. В зависимости от сложности или уникальности текста, количество токенов меняется. Токены используются для расчета потраченных ресурсов.</span></div>
                <div class="special"><h4 style="font-size: 1rem; margin-bottom: 0.5rem;">Чем отличаются модели ChatGPT?</h4><span>Модели в основном отличаются типом данных обучения нейронок, и объемом, который они могут принять или сгенерировать.</span>
                    <span>На данный момент вариантов всё больше. Помимо моделей для обработки и генерации видео, аудио и изображений, появились ассистенты для глобального поиска и логического анализа данных.</span>

				</div>
				<a href="/" class="box" style="display: flex; flex-direction: row; justify-content: center"><img src="/static/img/logo/chatgpru-white-smart-logo.svg" alt="ChatGP"></a>
                <div class="box"><h4 style="font-size: 1rem; margin-bottom: 0.5rem;">Как считаются токены и почему их количество ограничено?</h4> <span>Токены из запроса из ответа генеративной модели суммируются. Для экономии используют ёмкие промпты или используют более простые модели для их генерации.</span></div>

                <a href="/post" class="box"><h4 style="font-size: 1rem; margin-bottom: 0.5rem;">Что такое глобальный поиск с помощью ИИ?</h4> <span>Знания первых моделей GPT отставали на 3-5 лет от времени их
                    выхода в свет.
                    Новые AI модели получили доступ к сети интернет и умеют сопоставлять текущие события со своими знаниями. </span></a>
                <div class="box"><h4 style="font-size: 1rem; margin-bottom: 0.5rem;">Что предлагает сервис ChatGP?</h4> <span>ChatGP - умный чат ассистент, построен на базе OpenAI API. С помощью ChatGP вы получаете доступ к моделям искусственного интеллекта от OpenAI c сохранением контекста. </span></div>
                <a href="/privacy" class="box"><h4 style="font-size: 1rem; margin-bottom: 0.5rem;">Что происходит, когда личные данные попадают в запрос?</h4> <span>Современные модели умеют распознавать и экранировать персональные данные пользователей.
                    ChatGP не рекомендует передавать никакие персональные данные. </span></a>
                <div class="box"><h4 style="font-size: 1rem; margin-bottom: 0.5rem;">Чем полезна функция распознавания фото - image reading?</h4><span>Функция чтения изображений - удобный и быстрый способ промпта с помощью фото или скриншота с текстовыми пояснениями.</span></div>
                <div class="box"><h4 style="font-size: 1rem; margin-bottom: 0.5rem;">ChatGp планирует добавить специальных ассистентов</h4> <span>Помимо универсального ИИ ассистента, наша команда работает над созданием узко-специализированных помощников таких как: юрист, редактор, переводчик и прочее.</span></div>
                <a href="/about" class="box"><h4 style="font-size: 1rem; margin-bottom: 0.5rem;">Что нового добавилось в ChatGP?</h4> <span>Теперь каждый чат пользователя сохраняется в боковой панели и искусственный интеллект помнит контекст каждого чата.</span></a>
                <div  class="build-info" style="position: unset;">&copy;2025 ChatGP.Ru. Все права защищены.</div>
			</div>
       </div>

 <script>

 let colours = ['#62a07b', '#4f8b89', '#536c8d', '#5c4f79', '#613860'];
let allTheBoxes =  document.querySelectorAll('.box');
for(let i = 0; i < allTheBoxes.length; i++){
	allTheBoxes[i].style.background = colours[i % 5]
}
 </script>
{% else %}

     <div class="main-header">

         <p>&nbsp;</p>
         <p>&nbsp;</p>
</div>
        <div id="chat-area">

       <div class="container-main">

   <div id="article" >

   {% if user_chat %}
        {% for message in user_chat %}
            <div class="query-body">{{ message.prompt }}</div>
            <div class="response-body">{{ message.body | format_code_blocks | safe }}<br></div>
            <hr>
        {% endfor %}
    {% else %}
        &nbsp;
    {% endif %}

       </div>
           <section>
               <div id="events"></div>
               </section>

           </div>
{#{% if param == "stream" %}#}
{#        <div id="param-toggle-container" class="build-info tooltip">#}
{#    <button id="param-toggle" class="floating-button"><img src="/static/img/icons/list-search.svg" width="18" height="18"  alt="поиск"></button>#}
{#        <span class="tooltiptext">Сменить режим</span></div>#}
{#            </div>#}
{#        {% else %}#}
{#    <div id="param-toggle-container" class="build-info tooltip">#}
{#    <button id="param-toggle" class="floating-button"><img src="/static/img/icons/send-2.svg" width="18" height="18" alt="чат"></button>#}
{#        <span class="tooltiptext">Сменить режим</span></div>#}
{#        {% endif %}#}


{% if param == "stream" %}

<div class="main-footer">
    {% if user.trial_blocked %}
    <div class="user_text">Вы исчерпали лимит токенов на сегодня, возвращайтесь завтра или
        <a href="/price">Перейдите на повышенный план.</a></div>

    {% elif user.status != user.original_status and user.status == "trial" %}

    <textarea class="text-area" id="prompt" placeholder="Вы исчерпали лимит токенов и можете продолжать чат с базовой моделью до конца дня" aria-label="Query"></textarea>
    <input type="hidden" id="csrf_token" value="{{ csrf_token }}">
    <button class="transparent-button" id="submit" type="submit">
        <img src="/static/img/icons/send-2.svg" width="18" height="18" autofocus alt="send">
    </button>
    <button id="param-toggle" class="floating-button">поиск<img src="/static/img/icons/world.svg" width="18" height="18" alt="поиск"></button>

    {% else %}
    <div id="upload-wrapper" style="display: none; width: 100%;">
    <label for="upload-input" class="upload-label" style="text-align: center">
        <div>
            <span class="upload-label-drop">Перетяните сюда картинку jpeg, png, webp или gif</span>
            <span class="upload-label-or">Или загрузите</span>
            <span id="upload-info" class="upload-label-browse">Из файлов</span>
        </div>
    </label>
    <input  class="upload" type="file" id="upload-input" name="file"/>
    <button id="upload-btn" class="upload-btn">
        Прикрепить фото к запросу</button>
    </div>

    <textarea class="text-area" id="prompt" placeholder="Вы в чате. Введите ваш запрос..." aria-label="Query"></textarea>
    <input type="hidden" id="csrf_token" value="{{ csrf_token }}">
    <button class="transparent-button" id="submit" type="submit">
        <img src="/static/img/icons/send-2.svg" width="18" height="18" autofocus alt="send">
    </button>
        <button id="show-upload-btn" class="floating-button" style="left: 130px;">фото<img src="/static/img/icons/photo-plus.svg" width="18" height="18" alt="загрузить фото"></button>
        <div id="image-preview" class="image-thumb">
        <div style="position: relative;">
            <button class="delete-image-thumb-button" id="delete-icon-button"><img src="/static/img/icons/x.svg" width="12" height="12" alt="удалить"></button>
        </div>
        </div>

    <button id="param-toggle" class="floating-button">поиск<img src="/static/img/icons/world.svg" width="18" height="18" alt="поиск"></button>

    {% endif %}
<div class="build-info">&copy;2025 ChatGP.Ru. Все права защищены.</div>
</div>

{% else %}

<div class="main-footer">
    {% if user.trial_blocked %}
    <div class="user_text">Вы исчерпали лимит токенов на сегодня, возвращайтесь завтра или
        <a href="/price">Перейдите на повышенный план.</a></div>

    {% elif user.status != user.original_status and user.status == "trial" %}

    <textarea class="text-area" id="search-input" placeholder="Вы исчерпали лимит токенов и можете продолжать чат с базовой моделью до конца дня" aria-label="Query"></textarea>
    <input type="hidden" id="csrf_token" value="{{ csrf_token }}">
    <button class="transparent-button" id="search-button" type="submit">
        <span class="search-label"><img src="/static/img/icons/world-search.svg" width="18" height="18" autofocus alt="search"></span>
        <span class="spinner" style="display: none;">
            <img src="/static/img/icons/loader.svg" alt="loading" width="18" height="18">
        </span>
    </button>
    <button id="param-toggle" class="floating-button">чат<img src="/static/img/icons/message.svg" width="18" height="18" alt="чат"></button>

    {% else %}




    <textarea class="text-area" class="text-area" id="search-input" placeholder="Режим поиска. Введите запрос для поиска в интернете..." aria-label="Query"></textarea>
    <input type="hidden" id="csrf_token" value="{{ csrf_token }}">
    <button class="transparent-button" id="search-button" type="submit">
        <span class="search-label"><img src="/static/img/icons/world-search.svg" width="18" height="18" autofocus alt="search"></span>
        <span class="spinner" style="display: none;">
            <img src="/static/img/icons/loader.svg" alt="loading" width="18" height="18">
        </span>
    </button>

    <button id="param-toggle" class="floating-button">чат<img src="/static/img/icons/message.svg" width="18" height="18" alt="чат"></button>

    {% endif %}
<div class="build-info">&copy;2025 ChatGP.Ru. Все права защищены.</div>
</div>

{% endif %}



  </div>


<script src="/static/js/prism.js"></script>
    <script src="/static/js/get_chat_body.js"></script>
    <script src="/static/js/codeSnippets.js"></script>
    <script src="/static/js/copy_button.js" defer></script>
    <script src="/static/js/stream2.js" defer></script>

{% include "modal_base.html" %}

<script>
async function showModal(message, status = "info", action = null) {
  const modal = document.getElementById("modal-feedback");

  // Установить данные
  modal.querySelector("h3").textContent = message;
  modal.classList.remove("success", "error", "warning", "info");
  modal.classList.add(status);

  // Обработка action
  const formWrapper = modal.querySelector(".modal-actions");
  formWrapper.innerHTML = "";
  if (action) {
    const form = document.createElement("form");
    form.method = action.method || "get";
    form.action = action.url;
    const button = document.createElement("button");
    button.type = "submit";
    button.textContent = action.label;
    button.classList.add("action-button");
    form.appendChild(button);
    formWrapper.appendChild(form);
  }

  openModal(modal); // из твоего modal.js
}
</script>
{#{% else %}#}
{#       <script>#}
{#       window.location.href = "/authorize";#}
{#       </script>#}
{% endif %}
{% endblock %}