{% extends "base.html" %}

{% block title %}Home Page{% endblock %}

{% block content %}
{% if user %}

     <div class="main-header">
         <p>&nbsp;</p>

         <p>&nbsp;</p>
</div>
        <div id="chat-area">

       <div class="container-main">

   <div id="article" >

   {% if user_chat %}
        {% for message in user_chat %}
            <div class="query-body">{{ message.prompt }}</div>
            <div class="response-body">{{ message.body | format_code_blocks | safe }}<br></div>
            <hr>
        {% endfor %}
    {% else %}
        &nbsp;
    {% endif %}

       </div>
           <section>
               <div id="events"></div>
               </section>

           </div>
            </div>


  <div class="main-footer">
      <textarea type="text" id="prompt" placeholder="Введите запрос" aria-label="Query"></textarea>
      <button class="transparent-button" id="submit" type="submit">
    <img src="/static/img/icons/send-2.svg" width="18" height="18" autofocus alt="send">
</button>
      <div class="build-info">&copy;2025 ChatGP.Ru. Все права защищены.</div>
  </div>


<script src="/static/js/stream2.js" defer></script>

{% else %}
       <script>
       window.location.href = "/authorize";
       </script>
{% endif %}
{% endblock %}