{% extends "noheader2.html" %}

{% block title %}Планы подписки - цены{% endblock %}

{% block content %}


    <div class="container">
        <aside class="sidebar">
            <a href="/" class="logo"></a>
            <h2>Выберите подходящий план</h2>
            <span><small>Подписка оформляется на 30 дней.
                Цены приведены в USDT,
                но расчеты производятся в Тон.
                При оплате за пол года или год вперед
                предоставляются скидки - индивидуально.
                Доступна подписка через Бусти,
                скопируйте и используйте код для оплаты. Отменить подписку
                до истечения 30 дней со дня оплаты невозможно.</small></span>
             <div class="links-row">
                 <a href="/about">О сервисе&nbsp;</a>
                <a href="/post">Блог&nbsp;</a>
                <a href="/privacy">Приватность&nbsp;</a>
                <a href="/api/contact">Контакты&nbsp;</a>
                <a href="/help">Помощь</a>
            </div>
            <h3>Поддержать донатом</h3>
            <a href="https://boosty.to/ketome.ru/donate"  target="_blank">
                <img src="/static/img/pics/ketome.ru-donate.png" width="150px" alt="boosty"></a>
        </aside>

        <div class="grid">
{% set plans = {
    "trial": "Базовый",
    "basic": "Оптимум",
    "advanced": "Фрилансер",
    "business": "Бизнес",
    "pro": "Мыслитель",
    "premium": "Премиум"
} %}

{% set descriptions = {
    "trial": "модель 4o-mini, 3 млн. токенов в день, чтение фото 512х512.",
    "basic": "мощная модель 4o (до 1 млн. токенов), 4 млн. токенов в день, 50 веб-поисков в месяц,  чтение фото",
    "advanced": "мощная модель 4o (до 2 млн. токенов), 5 млн. токенов в день, 150 веб-поисков в месяц, чтение фото",
    "business": "мощная модель 4o (до 4 млн. токенов), 7 млн. токенов в день, 400 веб-поисков в месяц, чтение фото",
    "pro": "логическая модель o3 (до 2 млн. токенов), 5 млн. токенов в день, 200 супер веб-поисков в месяц, чтение фото",
    "premium": "продвинутая модель 4.1 (до 4 млн. токенов), 7 млн. токенов в день, 500 супер веб-поисков в месяц, чтение фото"
} %}


 {% set prices = {
    "trial": 0,
    "basic": 18 ,
    "advanced": 50,
    "business": 140,
    "pro": 160,
    "premium": 500
} %}
{% set clues = {
    "trial": "Бесплатно навсегда",
    "basic": (prices['basic'] / ton_to_usdt) | round(2) ~ " TON",
    "advanced": (prices['advanced'] / ton_to_usdt) | round(2) ~ " TON",
    "business": (prices['business'] / ton_to_usdt) | round(2) ~ " TON",
    "pro": (prices['pro'] / ton_to_usdt) | round(2) ~ " TON",
    "premium": (prices['premium'] / ton_to_usdt) | round(2) ~ " TON"
} %}

{% set logos = {
    "trial": "/static/img/icons/level-basic.svg",
    "basic": "/static/img/icons/level-optimum.svg",
    "advanced": "/static/img/icons/level-advanced.svg",
    "business": "/static/img/icons/level-business.svg",
    "pro": "/static/img/icons/level-pro.svg",
    "premium": "/static/img/icons/level-premium.svg"
} %}

{% if user %}

{% for plan, title in plans.items() %}
{% set desc_items = descriptions[plan].split(',') %}
    <a href="#" onclick="handleSubscription(event, '{{ plan }}', '{{ user.original_status if user else '' }}');">
        <div class="card {% if user.original_status == plan %}active{% endif %}">
            <img src="{{logos[plan]}}" alt="plan logo">
            <h3>{{ title }}</h3>
            {% if user and user.original_status == plan %}<div class="card-price">{{ prices[plan] }}USDT/месяц</div>
                <div class="card-small" style="color: #ff5757;">текущий план</div>
            {% else %}<div class="card-price">{{ prices[plan] }}USDT/месяц</div>
                <div class="card-small">{{ clues[plan] }}</div>
            {% endif %}

                <ul class="custom-list">
                  {% for item in desc_items %}
                    <li><img src="/static/img/icons/mood-spark.svg" class="bullet-icon" style="width: 16px; height: 16px;" alt="✔"> {{ item.strip() }}</li>
                  {% endfor %}
                </ul>
{#            <div class="card-medium">{{ descriptions[plan] }}</div>#}
        </div>
    </a>
{% endfor %}
{% else %}
    {% for plan, title in plans.items() %}
        {% set desc_items = descriptions[plan].split(',') %}
    <a href="#" onclick="showModal('Для продолжения выполните вход', 'warning', {
            label: 'Вход',
            url: '/authorize',
            method: 'get'
            });">
        <div class="card">
            <img src="/static/img/logo/28.svg" alt="plan logo">
            <h3>{{ title }}</h3>
            {% if user and user.original_status == plan %}<div class="card-price">{{ prices[plan] }}USDT/месяц</div>
                <div class="card-small" style="color: #ff5757;">текущий план</div>
            {% else %}<div class="card-price">{{ prices[plan] }}USDT/месяц</div>
                <div class="card-small">{{ clues[plan] }}</div>
            {% endif %}
        <ul class="custom-list">
                  {% for item in desc_items %}
                    <li><img src="/static/img/icons/mood-spark.svg" class="bullet-icon" style="width: 16px; height: 16px;" alt="✔"> {{ item.strip() }}</li>
                  {% endfor %}
                </ul>
{#            <div class="card-medium">{{ descriptions[plan] }}</div>#}
        </div>
    </a>
    {% endfor %}
 {% endif %}


</div>
 </div>


<script>

async function handleSubscription(event, selectedPlan, currentPlan) {
    event.preventDefault();

    if (selectedPlan === currentPlan) {
        await showModal("Вы уже на этой подписке", "info", {
        label: "Сменить план?",
        url: "/price",
         method: "get"
            });
        return;
    }

    try {
        const response = await fetchWithAuth(`/api/subscribe/?level=${selectedPlan}`, { method: "POST" });
        const data = await response.json();

        if (response.ok) {
            await showModal(data.message, data.status, {
            label: "Начать чат?",
            url: "/",
            method: "get"
            });
            if (data.redirect) {
                window.location.href = data.redirect;
            } else {
                await showModal(data.message, data.status);
            }
        } else {
            await showModal("Ошибка: " + data.message, data.status);
        }
    } catch (error) {
        console.error("Ошибка подписки:", error);
        await showModal("Ошибка подключения. Попробуйте еще раз", "error");
    }
}


async function subscribe(level) {
    const token = localStorage.getItem("access_token");  //  Получаем токен из локального хранилища
    const response = await fetchWithAuth(`/api/subscribe/?level=${level}`, {
        method: "POST",
        headers: {
            "Authorization": `Bearer ${token}`  //  Передаем токен вместо email
        }
    });

    const data = await response.json();
    console.log(data.message);
}

async function checkSubscription() {
    const token = localStorage.getItem("access_token");  //  Получаем токен

    const response = await fetchWithAuth(`/api/subscription/`, {  //  Email не нужен в URL
        method: "GET",
        headers: {
            "Authorization": `Bearer ${token}`  //  Передаем токен
        }
    });

    const data = await response.json();
    console.log("Текущая подписка:", data);
}

async function showModal(message, status = "info", action = null) {
  const modal = document.getElementById("modal-feedback");

  // Установить данные
  modal.querySelector("h3").textContent = message;
  modal.classList.remove("success", "error", "warning", "info");
  modal.classList.add(status);

  // Обработка action
  const formWrapper = modal.querySelector(".modal-actions");
  formWrapper.innerHTML = "";
  if (action) {
    const form = document.createElement("form");
    form.method = action.method || "get";
    form.action = action.url;
    const button = document.createElement("button");
    button.type = "submit";
    button.textContent = action.label;
    button.classList.add("action-button");
    form.appendChild(button);
    formWrapper.appendChild(form);
  }

  openModal(modal); // из твоего modal.js
}

    </script>
{% include "modal_base.html" %}


{% endblock %}