{% extends "service.html" %}
{% block title %}Политика конфиденциальности{% endblock %}
{% block content %}

<div class="help-container">
  <h1 class="help-title">
      <a href="/"><img src="/static/img/logo/26.svg" alt="ChatGP" class="logo-icon"></a>
      Политика конфиденциальности</h1>
    <div class="links-row">
                <a href="/about">О сайте&nbsp;</a>
                <a href="/post">Блог&nbsp;</a>
                <a href="/help">Помощь&nbsp;</a>
                <a href="/contact">Контакты&nbsp;</a>
                <a href="/price">Цены</a>
            </div>
<div class="help-grid">
    <div class="help-empty-col">&nbsp;&nbsp;</div>
    <div class="help-content">
        <div class = "help-intro">
            <h3>Политика использования, хранения и обработки личных данных пользователя сайта</h3>
            Настоящая Политика конфиденциальности персональных данных (далее – Политика конфиденциальности) действует в отношении всей информации, расположенной на доменном имени chatgp.ru, которую можно получить о Пользователе во время использования данного сайта, программ и продуктов.
        </div>
<div class="custom-accordion" id="accordion">
  <div class="accordion-item">

      <button class="accordion-header" data-target="item1">
        ОПРЕДЕЛЕНИЕ ТЕРМИНОВ
      </button>

    <div id="item1" class="accordion-body">
      <br>В настоящей Политике конфиденциальности используются следующие термины:
<br>«Сайт» — chatgp.ru.
<br>«Администрация сайта (далее – Администрация сайта, Оператор)», которое организуют и (или) осуществляет обработку персональных данных, а также определяет цели обработки персональных данных, состав персональных данных, подлежащих обработке, действия (операции), совершаемые с персональными данными.
<br>«Персональные данные» – любая информация, относящаяся к прямо или косвенно определенному или определяемому физическому лицу (субъекту персональных данных).
<br>«Обработка персональных данных» – любое действие (операция) или совокупность действий (операций), совершаемых с использованием средств автоматизации или без использования таких средств с персональными данными, включая сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передачу (распространение, предоставление, доступ), обезличивание, блокирование, удаление, уничтожение персональных данных.
<br>«Конфиденциальность персональных данных» – обязательное для соблюдения Оператором или иным получившим доступ к персональным данным лицом требование не допускать их распространения без согласия субъекта персональных данных или наличия иного законного основания.
<br>«Форма обратной связи» — html-форма, которую Пользователь заполняет своими персональными данными на сайте, для получения информации об услугах, продуктах и прочее.
<br>«Пользователь сайта (далее – Пользователь, Субъект персональных данных)» – лицо, имеющее доступ к сайту, посредством сети Интернет и использующее сайт.
<br>«Cookies» или "куки" – небольшой фрагмент данных, отправленный веб-сервером и хранимый на компьютере пользователя, который веб-клиент или веб-браузер каждый раз пересылает веб-серверу в HTTP/HTTPS-запросе при попытке открыть страницу соответствующего сайта.
<br>«IP-адрес» – уникальный сетевой адрес узла в компьютерной сети, построенной по протоколу IP.
«Блокирование персональных данных» – временное прекращение обработки персональных данных (за исключением случаев, если обработка необходима для уточнения персональных данных).
<br>«Распространение персональных данных» – действия, направленные на раскрытие персональных данных неопределенному кругу лиц.
<br>«Предоставление персональных данных» – действия, направленные на раскрытие персональных данных определенному лицу или определенному кругу лиц.<br>




</div>
  </div>
  <div class="accordion-item">

      <button class="accordion-header" data-target="item2">
        ОБЩИЕ ПОЛОЖЕНИЯ
      </button>

    <div id="item2" class="accordion-body">
      <br>Отправка персональных данных через форму обратной связи Пользователем, означает согласие Пользователя на обработку персональных данных, а также согласие с настоящей Политикой конфиденциальности и условиями обработки персональных данных Пользователя. Оформление отдельного согласия на обработку персональных данных Пользователя не требуется.
<br>В случае несогласия с условиями Политики конфиденциальности Пользователь должен прекратить использование сайта.
<br>Настоящая Политика конфиденциальности применяется только к сайту chatgp.ru. Администрация сайта не контролирует и не несет ответственность за сайты третьих лиц, на которые Пользователь может перейти по ссылкам, доступным на сайте.
<br>Администрация сайта не проверяет достоверность персональных данных, предоставляемых Пользователем сайта.<br>


    </div>
  </div>


  <div class="accordion-item">

      <button class="accordion-header" data-target="item3">
       ПРЕДМЕТ ПОЛИТИКИ КОНФИДЕНЦИАЛЬНОСТИ
      </button>

    <div id="item3" class="accordion-body">
      <div><br>Настоящая Политика конфиденциальности устанавливает обязательства Администрации сайта по неразглашению и обеспечению режима защиты конфиденциальности персональных данных, которые Пользователь предоставляет по запросу Администрации сайта при регистрации.
Персональные данные, разрешённые к обработке в рамках настоящей Политики конфиденциальности, предоставляются Пользователем путём заполнения формы на сайте в соответствующем разделе и включают в себя следующую информацию:
<br>ФИО Пользователя;
<br>адрес электронной почты Пользователя;
<br>номер контактного телефона.
<br>Администрация сайта осуществляет сбор статистики об IP-адресах и cookie своих посетителей. Данная информация используется с целью выявления и решения технических проблем.
<br>Любая иная персональная информация не оговоренная выше подлежит надежному хранению и нераспространению, за исключением случаев, когда органы власти официально запрашивают у Оператора персональные данные одного или нескольких лиц.<br>
</div>
  </div></div>

  <div class="accordion-item">

      <button class="accordion-header" data-target="item4">
        ЦЕЛИ СБОРА ПЕРСОНАЛЬНОЙ ИНФОРМАЦИИ ПОЛЬЗОВАТЕЛЯ
      </button>

    <div id="item4" class="accordion-body"><br>Персональные данные Пользователя Администрация сайта может использовать в целях:
Идентификации Пользователя, для заключения Договора, получения консультации для заключения Договора.
<br>Установления с Пользователем обратной связи, включая направление уведомлений, запросов, касающихся использования сайта, оказания услуг, обработка запросов и заявок от Пользователя.
<br>Обработки и получения платежей, оспаривания платежа. В целях дополнительной защиты от мошеннических действий указанные Пользователем персональные данные могут быть переданы платёжной системе, осуществляющей транзакции по оплате оформленных на Сайте заказов.
<br>Предоставления Пользователю эффективной клиентской и технической поддержки при возникновении проблем связанных с использованием сайта.
<br>Предоставления Пользователю обновлений продукции, специальных предложений, информации о ценах, новостной рассылки и иных сведений от имени Администрации сайта или от имени партнеров.
<br>Осуществления рекламной деятельности.
<br>Предоставления доступа Пользователю на сайты или сервисы партнеров с целью получения продуктов, обновлений и услуг.<br>

<h4 >СПОСОБЫ И СРОКИ ОБРАБОТКИ ПЕРСОНАЛЬНОЙ ИНФОРМАЦИИ</h4>


<br>Обработка персональных данных Пользователя осуществляется не дольше срока, отвечающего целям обработки персональных данных, любым законным способом, в том числе в информационных системах персональных данных с использованием средств автоматизации или без использования таких средств.
<br>Пользователь соглашается с тем, что Администрация сайта вправе предоставить персональные данные партнерам, другим третьим лицам, в частности, курьерским службам, организациями почтовой связи, операторам электросвязи, а также сервису MailChimp исключительно в целях оказания услуг Пользователю.
<br>Персональные данные Пользователя могут быть предоставлены уполномоченным органам государственной власти Российской Федерации только по основаниям и в порядке, установленным законодательством Российской Федерации.
<br>При утрате или разглашении персональных данных Администрация сайта информирует Пользователя об утрате или разглашении персональных данных.
<br>Администрация сайта принимает необходимые организационные и технические меры для защиты персональной информации Пользователя от неправомерного или случайного доступа, уничтожения, изменения, блокирования, копирования, распространения, а также от иных неправомерных действий третьих лиц.
<br>Администрация сайта совместно с Пользователем принимает все необходимые меры по предотвращению убытков или иных отрицательных последствий, вызванных утратой или разглашением персональных данных Пользователя.<br>
</div>
  </div>
  <div class="accordion-item">

      <button class="accordion-header" data-target="item5">
        ОБЯЗАТЕЛЬСТВА СТОРОН
      </button>

    <div id="item5" class="accordion-body"><br>Пользователь обязан:


<br>Предоставить информацию о персональных данных, необходимую для пользования сайтом.
Обновить, дополнить предоставленную информацию о персональных данных в случае изменения данной информации.
<br>Пользователь имеет право отозвать согласие на обработку персональных данных, путем направления уведомления Оператору через форму обратной связи. Оператор прекращает обработку персональных данных в сроки установленные действующим законодательством РФ.
<br>Администрация сайта обязана:
<br>Использовать полученную информацию исключительно для целей, указанных в разделе 4 настоящей Политики конфиденциальности.
<br>Обеспечить хранение конфиденциальной информации в тайне, не разглашать без предварительного письменного разрешения Пользователя, а также не осуществлять продажу, обмен, опубликование, либо разглашение иными возможными способами переданных персональных данных Пользователя, за исключением случаев, когда органы власти официально запрашивают у Оператора персональные данные одного или нескольких лиц.
<br>Принимать меры предосторожности для защиты конфиденциальности персональных данных Пользователя согласно порядку, установленному законодательством РФ.
<br>Осуществить блокирование персональных данных, относящихся к соответствующему Пользователю, с момента обращения или запроса Пользователя или его законного представителя либо уполномоченного органа по защите прав субъектов персональных данных на период проверки, в случае выявления недостоверных персональных данных или неправомерных действий.<br>

<h4>ОТВЕТСТВЕННОСТЬ СТОРОН</h4>

<br>Администрация сайта, не исполнившая свои обязательства, несёт ответственность за убытки, понесённые Пользователем в связи с неправомерным использованием персональных данных, в соответствии с законодательством Российской Федерации, за исключением случаев, когда пользователь или группа пользователей подозреваются в нарушении закона и органы власти официально запрашивают у Оператора персональные данные одного или нескольких лиц.
<br>В случае утраты или разглашения персональных данных Администрация сайта не несёт ответственность, если данные персональные данные:
<li>стали публичным достоянием до их утраты или разглашения;</li>
<li>были получены от третьей стороны до момента её получения Администрацией сайта;</li>
<li>были разглашены с согласия Пользователя.</li><br>


<h4>РАЗРЕШЕНИЕ СПОРОВ</h4>

<br>До обращения в суд с иском по спорам, возникающим из отношений между Пользователем и Администрацией сайта, обязательным является предъявление претензии (письменного предложения о добровольном урегулировании спора).
<br>Получатель претензии в течение 30 календарных дней со дня получения претензии, письменно уведомляет заявителя претензии о результатах рассмотрения претензии.
<br>При недостижении соглашения спор будет передан на рассмотрение в судебный орган по месту нахождения Оператора, в соответствии с действующим законодательством Российской Федерации.
<br>К настоящей Политике конфиденциальности и отношениям между Пользователем и Администрацией сайта применяется действующее законодательство Российской Федерации.<br>
</div></div></div>
  <div class="accordion-item">

      <button class="accordion-header" data-target="item6">
        ДОПОЛНИТЕЛЬНЫЕ УСЛОВИЯ
      </button>

    <div id="item6" class="accordion-body"><br>Администрация сайта вправе вносить изменения в настоящую Политику конфиденциальности без согласия Пользователя.
<br>Новая Политика конфиденциальности вступает в силу с момента ее размещения на сайте, если иное не предусмотрено новой редакцией Политики конфиденциальности.
<br>Все предложения или вопросы по настоящей Политике конфиденциальности следует адресовать администрации сайта через форму обратной связи.
Действующая Политика конфиденциальности размещена на странице по адресу. &nbsp;<a href="/privacy">Политика конфиденциальности</a><br> </div>
  </div>
  <div class="accordion-item">

      <button class="accordion-header" data-target="item7">
        КАКИЕ ПЕРСОНАЛЬНЫЕ ДАННЫЕ МЫ СОБИРАЕМ И С КАКОЙ ЦЕЛЬЮ
      </button>

    <div id="item7" class="accordion-body"><br>Комментарии

<br>Если посетитель оставляет комментарий на сайте, мы собираем данные указанные в форме комментария, а также IP адрес посетителя и данные user-agent браузера с целью определения спама.

<br>Анонимизированная строка создаваемая из вашего адреса email ("хеш") может предоставляться сервису Gravatar, чтобы определить используете ли вы его. Политика конфиденциальности Gravatar доступна здесь: https://automattic.com/privacy/ . После одобрения комментария ваше изображение профиля будет видимым публично в контексте вашего комментария.<br>

<h5 class="mt-3">Медиафайлы</h5>

<br>Если вы зарегистрированный пользователь и загружаете фотографии на сайт, вам возможно следует избегать загрузки изображений с метаданными EXIF, так как они могут содержать данные вашего месторасположения по GPS. Посетители могут извлечь эту информацию скачав изображения с сайта.<br>

<h5 class="mt-3">Куки</h5>

<br>Если вы оставляете комментарий на нашем сайте, вы можете включить сохранение вашего имени, адреса email и вебсайта в куки. Это делается для вашего удобства, чтобы не заполнять данные снова при повторном комментировании. Эти куки хранятся в течение одного года.

<br>Если у вас есть учетная запись на сайте и вы войдете в неё, мы установим временный куки для определения поддержки куки вашим браузером, куки не содержит никакой личной информации и удаляется при закрытии вашего браузера.

<br>При входе в учетную запись мы также устанавливаем несколько куки с данными входа и настройками экрана. Куки входа хранятся в течение двух дней, куки с настройками экрана - год. Если вы выберете возможность "Запомнить меня", данные о входе будут сохраняться в течение двух недель. При выходе из учетной записи куки входа будут удалены.

<br>При редактировании или публикации статьи в браузере будет сохранен дополнительный куки, он не содержит персональных данных и содержит только ID записи отредактированной вами, истекает через 1 день.<br>

<h5>Встраиваемое содержимое других веб-сайтов</h5>

<br>Статьи на этом сайте могут включать встраиваемое содержимое (например видео, изображения, статьи и др.), подобное содержимое ведет себя так же, как если бы посетитель зашел на другой сайт.

<br>Эти сайты могут собирать данные о вас, использовать куки, внедрять дополнительное отслеживание третьей стороной и следить за вашим взаимодействием с внедренным содержимым, включая отслеживание взаимодействия, если у вас есть учетная запись и вы авторизовались на том сайте.<br>

<h5>Как долго мы храним ваши данные</h5>

<br>Если вы оставляете комментарий, то сам комментарий и его метаданные сохраняются неопределенно долго. Это делается для того, чтобы определять и одобрять последующие комментарии автоматически, вместо помещения их в очередь на одобрение.

<br>Для пользователей с регистрацией на нашем сайте мы храним ту личную информацию, которую они указывают в своем профиле. Все пользователи могут видеть, редактировать или удалить свою информацию из профиля в любое время (кроме имени пользователя). Администрация вебсайта также может видеть и изменять эту информацию.<br>

<h5>Какие у вас права на ваши данные</h5>

<br>При наличии учетной записи на сайте или если вы оставляли комментарии, то вы можете запросить файл экспорта персональных данных, которые мы сохранили о вас, включая предоставленные вами данные.
<br>Вы также можете запросить удаление этих данных, это не включает данные, которые мы обязаны хранить в административных целях, по закону или целях безопасности.
</div>
  </div>

  </div>
<div class="help-empty-col">&nbsp;&nbsp;</div>
</div>
</div>

<script>
document.querySelectorAll('.accordion-header').forEach(button => {
  button.addEventListener('click', () => {
    const targetId = button.dataset.target;
    const target = document.getElementById(targetId);

    // Закрыть все открытые
    document.querySelectorAll('.accordion-body').forEach(body => {
      if (body.id !== targetId) body.classList.remove('open');
    });

    // Переключить текущий
    const wasClosed = !target.classList.contains('open');
    target.classList.toggle('open');

    // Прокрутить, если открыли
    if (wasClosed) {
      // подождать, пока DOM "поймёт", что элемент открыт и отрендерен
      setTimeout(() => {
        target.scrollIntoView({ behavior: 'smooth', block: 'end' });
      }, 300); // подстраивай под CSS transition (если есть)
    }
  });
});
</script>



{% endblock %}